<h1>Your Created Cocktail</h1>

<h2><%= @cocktail.name %></h2>

<div> <% @cocktail.doses.each do |dose| %>
  <p> <%= dose.ingredient.name %>:
  <%= dose.description %> </p> </div>

 <div> <p><%= link_to "Delete dose", dose_path(dose), method: :delete %>
<% end %> </p> </div>

<div><%= link_to "Go to Cocktail list", cocktails_path %> </div>
<div> <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail.id) %> </div>
